[x-cloak] {
  display: none;
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background-color: var(--color-zinc-100);
}

::-webkit-scrollbar-thumb {
  background: var(--color-zinc-300);
  border-radius: 0;
  transition: all 250ms;
}

::-webkit-scrollbar-thumb:hover,
::-webkit-scrollbar-thumb:active {
  background: var(--color-zinc-800);
  border-radius: 0;
}

.swiper-scrollbar-drag {
  border-radius: 0;
  background: #000;
}
